

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<app-noticia></app-noticia>


<div class="grid nested-grid ">
    <div class="col-2 xl:col-2 lg:col-2 md:col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">a</div>
    </div>
    <div class="col-7 xl:col-7 lg:col-7 md:col-12 sm: col-12">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">b</div>
    </div>
    <div class="col-3 xl:col-3 lg:col-3 md:col-6 sm: col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">c</div>
    </div>

    <div class="col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">Logo</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">Logo</div>
    </div>
    <div class="col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">Logo</div>
    </div>


    <div class="col-9">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">Logo</div>
    </div>
    <div class="col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">Logo</div>
    </div>

    <div class="col-4">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">Logo</div>
    </div>
    <div class="col-4 col-offset-4">
        <div class="text-center p-3 border-round-sm bg-primary font-bold azul">Logo</div>
    </div>

</div>
 

<router-outlet />
